{% extends 'base.html' %}

{% block title %}Admin Login{% endblock %}

{% block main_content %}
<div class="container mt-5">
    <h2 class="text-center">Admin Login</h2>

    <form method="post" class="mt-4 mx-auto" style="max-width: 400px;">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" name="username" id="id_username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Password</label>
            <input type="password" name="password" id="id_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-dark w-100">Login</button>
    </form>
</div>
{% endblock %}
